.sign-in-page {
  width: 100%;
  display: flex;
  justify-content: center;
  // h2 {
  //   text-align: center;
  // }
  .sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
      margin: 10px;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .all-button {
        margin: 5px 0;
        width: 100%;
      }
      .or {
        text-align: center;
        padding: 15px 0;
        font-size: 20px;
      }
    }
  }
}
