.sign-up-page {
  width: 100%;
  display: flex;
  justify-content: center;

  .sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    .title {
      margin: 10px 0;
    }
    button {
      width: 100%;
    }
  }
}
